/* by Josh W. Comeau taken from https://www.joshwcomeau.com/css/custom-css-reset/ */
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
    8. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

/* basic layout and styling */
.pageContainer {
    background-color: #fdba74;
    padding: 0px 15vw;
}
header {
    padding: 3vw 5vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(8,145,178);
    background: linear-gradient(165deg, rgba(8,145,178,1) 65.5%, #e4e4e7 66%, rgba(255,255,255,1) 66.3%);
    
    
}
.icon {
    width: 1.5vw;
    height: auto;
    height: auto;
}

.topImage {
    z-index: 1;
    width: 25vw;
    height: auto;
    float: left;
}

.imgText {
    position: absolute;
    z-index: 2;
    left: 8vw;
    font-size: 3vw;
    top: 27vw;
}

.topIconsContainer {
    display: flex;
    justify-content: right;
    align-items: start;
    gap: 1vw;
}

.topText {
    width: 35vw;
    background-color: white;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    gap: 1.5vw;
}

.topContainer {
    background-color: transparent;
}


img {
  width: 30px;
  height: auto;
}